@media (min-width: 800px) {
	input[type="search"] {
		width: 40%;
		margin-left: 2em;
	}

	.products {
		display: inline-block;
		width: 30%;
	}

}

@media (min-width: 1000px) {
	body {
		text-align: left;
	}

	header h1 {
		width: 50%;
	}

	input[type="search"] {
		width: 20%;
		margin-left: 2em;
	}

	main {
		width: 68%;
		display: inline-block;
		padding: 10px;
		font-size: 12px;
		margin-right: 10px;
	}

	aside {
		width: 25%;
		display: inline-block;
		vertical-align: top;
		padding: 10px;
		position: sticky;
		top: 10px;
		left: 10px;
	}

	/* .logon {
		margin-left: 500px;
	} */
}

@media (min-width: 1400px) {
	body {
		max-width: 85vw;
	}

	.products {
		width: 30%;
	}

	input[type="search"] {
		width: 20%;
		margin-left: 2em;
	}
}

@media (max-width: 800px) {
	#class_submit {
		margin-top: 5px;
		color: #dadada;
	}
}