html {
	background: #e8f1f5;
	font: 16px;
}

body {
	font-family: Numans, sans-serif;
	background: #f4f6ff;
	margin: 0 auto;
	color: #403f48;
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	line-height: 25px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #dadada;
}

.price {
	color: orangered;
	font-weight: bolder;
}

.title {
	font-weight: bold;
	color: #596c68;
}

header {
	border-radius: 10px;
	margin: 5px;
}

header input {
	align-content: right;

}

header,
footer {
	background-color: #95a792;
	color: #e8f1f5;
	padding: 10px 10px;
}



footer {
	border-radius: 10px;
	margin: 5px;
}

input[type="search"] {
	width: 100%;
	outline: none;
}

header a {
	align-items: right;
}

.picks {
	background: #e3d9ca;
	border-radius: 10px;
}

aside {
	background: #e3d9ca;
	border-radius: 10px;
	margin-left: 5px;
}

.products {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	margin: 5px;
	padding: 5px;
}

img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	display: block;
	height: 230px;
	width: 150px;
}

header li {
	display: inline;
}

header h1,
nav {
	display: inline-block;
}


header h1 {
	width: 100%;
}

footer li {
	padding-left: 10px;
}


.logon {
	padding: 5px;
}

/* inputs */

.logon .email {
	width: 153px;
	height: 19px;
	outline: none;
	padding: 1px 2px;
}

input[type=password] {
	outline: none;
	width: 153px;
	height: 19px;
	outline: none;
	padding: 1px 2px;
}

/* buttons  */
.btn {
	color: #403f48;
}

button {
	font-family: Numans, sans-serif;
	color: #403f48;
	background-color: #596c68;
	border: none;
	color: #dadada;

}

.button {
	padding: 10px;
	display: inline-block;
}

.button:last-of-type {

	background-color: #596c68;
	color: #dadada;
	border-radius: 10px;
}

.button:hover {
	color: white;
}

/* product detail page */

.product_detail {
	width: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
	background: #e3d9ca;
	border-radius: 10px;
	padding-top: 5px;
	margin-right: 5px;
}

.contact {
	background: #e3d9ca;
	border-radius: 10px;
	padding-top: 5px;
	margin-right: 5px;
}

.contact .map {
	text-align: center;
	justify-content: center;
	align-items: center;
}

.product_detail .button {
	margin-bottom: 10px;
}

/* align and center text in parent div */

.product_detail .description {
	width: 50%;
	text-align: justify;
	align-items: center;
	justify-content: center;
	margin: auto;
}

/* contact us page */

form {
	padding: 10px;
	margin: 10px;
	width: 600px;
}

.inline label {
	display: inline-block;
	width: 100px;
}

input[type='text'],
input[type='email'],
textarea {
	padding: 10px;
	width: 400px;
}

/*Table */

table {
	width: 400px;
	text-align: center;
	margin: 20px 0;
}

caption {
	font-weight: bold;
	font-style: italic;
	border-bottom: 1px solid;
}

th,
td {
	padding: 10px;
	border: none;
	text-align: left;
}

tr:hover {
	background: #f5f5f5;
}